<?php
/**
 * @var $this Kubrey_Intervale_Block_PaymentInfo 
 */
?>
<ul id="payment_form_<?php echo Mage::helper('payment')->encryptMethodCode($this->getMethodCode()) ?>" style="display:none" class="form-list">
    <li><?php echo $this->getModel()->getConfigData('message'); ?></li>
</ul>